# Virtual environment
/mlopsenv/

# Lab2-MLflow stuff
Lab2-MLflow/data/
Lab2-MLflow/mlruns/

# Lab3-Azure-MLflow stuff
Lab3-Azure-MLflow/config.json
Lab3-Azure-MLflow/*.yaml
Lab3-Azure-MLflow/*.csv

# Lab6-ModelTesting
Lab6-ModelTesting/**/__pycache__/
Lab6-ModelTesting/model_testing/3. Faster_Transformer_model_serving_using_Tensorflow_Extended/tfx_model/
